@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Our Application</h1>
<p>Select your role to login:</p>

<div>
    <a class="btn btn-primary" href="@Url.Action("StudentLogin", "Home")">Student Login</a>
    <a class="btn btn-secondary" href="@Url.Action("ParentLogin", "Home")">Parent Login</a>
</div>
